/*******************************/
/*  BELOW 1344px (SMALLER PCs) */
/*******************************/
/* Instead, 1rem = 1em = 16px */
/* 1344 / 16 = 84 */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos img {
    height: 2.4rem;
  }
}

/*************************************/
/*  BELOW 1200px (landscape Tablets) */
/*************************************/
/* 1200 / 16 = 75 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    /* padding: 9.6rem 3.2rem; */
  }

  /* .pricing-plan {
    display: flex;
    flex-direction: column;
  }

  .plan-sign-up {
    margin-top: auto;
  } */
}

/*************************************/
/*       BELOW 944px  (Tablets)      */
/*************************************/
/* 940 / 16 = 58.75 */
@media (max-width: 59em) {
  html {
    font-size: 50%; /* 8 / 16 = 0.50 or 50% */
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 60%;
  }

  .logos img {
    /* width: 9.6rem; */
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-title {
    font-size: 2rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .gallery {
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(6, 1fr);
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.959);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0; /* visually hide the .main-nav */
    pointer-events: none; /* prevents your mouse to access it */
    visibility: hidden; /* to hide it from screen readers */
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/*************************************/
/*   BELOW 740px (Smaller Tablets)   */
/*************************************/

@media (max-width: 47em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }

  .section-how,
  .section-cta {
    padding-bottom: 6.4rem;
  }

  .section-pricing,
  .testimonials-container,
  .section-meals,
  .pricing,
  .footer {
    padding: 6.4rem 3.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan span {
    letter-spacing: -0.05rem;
  }

  .pricing-plan--complete::after {
    top: 6%;
    right: -25%;
    padding: 0.8rem 10rem;
    transform: rotate(45deg);
    content: "Best Ito Na";
  }
}

/*************************************/
/*   BELOW 704px (Smaller Tablets)   */
/*************************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }

  .section-how,
  .section-cta {
    padding-bottom: 6.4rem;
  }

  .section-pricing,
  .testimonials-container,
  .section-meals,
  .pricing,
  .footer {
    padding: 6.4rem 3.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan span {
    letter-spacing: -0.05rem;
  }

  .pricing-plan--complete::after {
    top: 6%;
    right: -40%;
    padding: 0.8rem 10rem;
    transform: rotate(45deg);
  }
}

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYST8EM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */
