/*******************************/
/*  BELOW 1344px (SMALLER PCs) */
/*******************************/
/* Instead, 1rem = 1em = 16px */
/* 1344 / 16 = 84 */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos img {
    height: 2.4rem;
  }

  .pricing-plan--complete::after {
    top: 5%;
    right: -25%;
  }
}

/*************************************/
/*  BELOW 1200px (landscape Tablets) */
/*************************************/
/* 1200 / 16 = 75 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .pricing-plan--complete::after {
    top: 5%;
    right: -25%;
  }
}

/*************************************/
/*       BELOW 944px  (Tablets)      */
/*************************************/
/* 940 / 16 = 58.75 */
@media (max-width: 59em) {
  html {
    font-size: 50%; /* 8 / 16 = 0.50 or 50% */
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 60%;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-title {
    font-size: 2rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.959);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0; /* visually hide the .main-nav */
    pointer-events: none; /* prevents your mouse to access it */
    visibility: hidden; /* to hide it from screen readers */
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 3rem;
  }

  .main-nav-link {
    font-size: 3rem !important;
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/*************************************/
/*   BELOW 740px (Smaller Tablets)   */
/*************************************/

@media (max-width: 47em) {
  html {
    /* 7  16 = 44% */
    font-size: 44%;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }

  .section-how,
  .section-cta {
    padding-bottom: 6.4rem;
  }

  .section-pricing,
  .testimonials-container,
  .section-meals,
  .pricing,
  .footer {
    padding: 6.4rem 3.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan span {
    letter-spacing: -0.05rem;
  }

  .pricing-plan--complete::after {
    top: 8%;
    right: -20%;
  }
}

/*************************************/
/*   BELOW 704px (Smaller Tablets)   */
/*************************************/
/* 704 / 16 = 44 */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos img {
    height: 2.4rem;
  }
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 6.4rem;
  }

  .section-how,
  .section-cta {
    padding-bottom: 6.4rem;
  }

  .section-pricing,
  .testimonials-container,
  .section-meals,
  .pricing,
  .footer {
    padding: 6.4rem 3.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan span {
    letter-spacing: -0.05rem;
  }

  .pricing-plan--complete::after {
    top: 23%;
    right: -70%;
  }
}

/*************************************/
/*   BELOW 587px (Smaller Tablets)   */
/*************************************/

/* 6 / 16 =  */
/* 587 / 16 = 37 */
@media (max-width: 37em) {
  /* html {
    font-size: 37%;
  } */

  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .step-text-box:nth-child(1) {
    grid-row: 2;
  }

  .step-text-box:nth-child(5) {
    grid-row: 6;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .pricing-plan--complete::after {
    top: 12%;
    right: -10%;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta-img-box {
    height: 70rem;
    grid-row: 1;
  }

  .cta {
    grid-template-columns: 1fr;
  }
}

/* 412 / 16 = 26 */
@media (max-width: 25.75rem) {
  .pricing-plan--complete::after {
    top: 9 + %;
    right: -17%;
  }

  .grid--footer {
    column-gap: 2.4rem;
  }

  .arrow-dropright {
    display: none;
  }

  .footer-nav {
    row-gap: 1.6rem;
  }
}

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYST8EM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */
