/*************START*************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/
/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/**************END**************/

/* HEADER */

body {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
  position: relative;
}

.logo {
  height: 2.4rem;
}

/*************START*************/
/*         NAVITAGION          */
/*******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  /* gap: 1.6rem; */
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* .main-nav-list li:last-child {
  background-color: pink;
  padding: 0 3px;
  } */

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close"] {
  display: none;
}

/*******************************/
/*         NAVIGATION          */
/**************END**************/
/* HEADER */
/* HERO SECTION */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.8;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
  align-items: center;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;

  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

/* .delivered-imgs img:last-child {
  margin: 0;
  } */

.delivered-imgs img:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}
/* HERO SECTION */

/*************START*************/
/*    FEATURED IN SECTION      */
/*******************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 4.4rem; */
}

.logos img {
  /* width: 9.6rem; */
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/*******************************/
/*    FEATURED IN SECTION      */
/**************END**************/
/*************START*************/
/*   HOW IT WORKS SECTION      */
/*******************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #333;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -1;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  transition: all 0.3s;
}

/*******************************/
/*   HOW IT WORKS SECTION      */
/**************END**************/
/*************START*************/
/*        MEALS SECTION        */
/*******************************/
.section-meals {
  padding: 9.6rem 0;
}
/* / 52 / 62 / 74 / */

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}

.meal:visited {
  transform: translateY(-0.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal:hover {
  /* transform: translate(2rem, 2rem); */
  transform: translateY(-0.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
  /* display: inline-block;
  margin-right: 1.2rem; */
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.diets {
  /* border: 1px solid black;
  border-radius: 9px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.all-recipies {
  font-size: 1.8rem;
  text-align: center;
}

.link {
  display: inline-block;
}

/*******************************/
/*        MEALS SECTION N      */
/**************END**************/

/*************START*************/
/*    TESTIMONIALS SECTION     */
/*******************************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #726f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
}

.gallery-item {
  /* transition: all 1s; */
  overflow: hidden;
}

/* .gallery-item img:hover {
  transform: scale(1.2);
} */
/*******************************/
/*    TESTIMONIALS SECTION     */
/**************END**************/
/*************START*************/
/*       PRICING SECTION       */
/*******************************/
.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 8px;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777;
}

.plan-btn {
  margin-top: 2.4rem;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  justify-self: start;
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 11%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 10rem;
  transform: rotate(45deg);
}

.plan-sign-up a:link {
  display: inline-block;
}

.plan-sign-up {
  text-align: center;
  margin-top: auto;
  /* margin: 4.8rem 0 2.4rem 0; */
}

.feature {
}

.infinite {
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  /* border: 0.5px solid #777; */
  background-color: #fdf2e9;
  border-radius: 50%;
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/**************END**************/
/*       PRICING SECTION       */
/**************END**************/
/*************START*************/
/*   CALL-TO-ACTION SECTION    */
/*************START*************/
.section-cta {
  padding: 4.8rem 0 12.8rem 0; /* or padding: 9.6rem 0 12.8rem; */
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
  transition: background-color 0.5s;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  line-height: 1.8;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5); */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************END**************/
/*   CALL-TO-ACTION SECTION    */
/**************END**************/
/*************START*************/
/*        FOOTER SECTION       */
/*************START*************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.social-icon,
.contact-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.logo-instagram {
}

.logo-facebook {
}

.logo-twitter {
}

.copyright {
  /* display: inline-block; */
  /* position: absolute; */
  bottom: 0;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.05rem;
  color: #726f6f;
  margin-top: auto;
}

.address-col {
}

.footer-heading {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.contact-list li:first-child {
  margin-bottom: 2.4rem;
}

.address-text {
  display: inline-block;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.contact-list li {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  gap: 5px;
  /* align-items: start; */
}

.contact-icon {
  width: 18px;
  height: 18px;
  padding-top: 0.3rem;
}

.contact-list a {
  text-decoration: none;
  color: #777;
}

.nav-col,
.address-col {
  justify-items: center;
}

.address-link,
.footer-nav,
.contact-list {
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
  cursor: pointer;
}

.footer-heading {
  display: inline-block;
  margin-bottom: 4rem;
}

/* .footer-nav li:not(:last-child) {
  margin-bottom: 0.8rem;
} */

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.footer-nav li {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

/**************END**************/
/*        FOOTER SECTION       */
/**************END**************/

/* 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/
